@model List<SchoolProject.Models.School>

<h2>Search Results for "@ViewBag.Query"</h2>

@if (!Model.Any())
{
    <p>No results found.</p>
}
else
{
    foreach (var school in Model)
    {
        <div class="panel panel-default">
    <div class="panel-body">

        <h3>
            <a href="/school/@school.InstituteSlug">
                @school.InstituteName
            </a>
        </h3>

        <div>
            <span class="fa fa-map-marker"></span>
            @school.City?.CityName
        </div>

        <br />

        <a href="/school/@school.InstituteSlug" class="btn btn-info">
            View Details
        </a>

        <button class="btn btn-primary btn_Enquiry"
                data-id="@school.InstituteId"
                data-college="@school.InstituteName">
            Apply Now
        </button>

    </div>
</div>
    }
}